body{background-color: rgb(54, 0, 250);
}
.p1{text-align: center;
}
.p1 {border-style: double;
     border-color: rgb(0, 255, 0);
     border-width: 5px;
    }
    .p1 {
    margin-right: 15%;
    margin-left: 25%;
    padding-left: 10%;
}
#imal {margin-left: 50%;
}
.p2{text-align: center;
}
.p2 {border-style: double;
     border-color: rgb(15, 172, 138);
     border-width: 5px;
    }
    .p2 {
    margin-right: 15%;
    margin-left: 25%;
    padding-left: 10%;
}
.p3{text-align: center;
}
.p3 {border-style: double;
     border-color: rgb(255, 0, 0);
     border-width: 5px;
    }
    .p3 {
    margin-right: 15%;
    margin-left: 25%;
    padding-left: 10%;
}
.p4{text-align: center;
}
.p4 {border-style: double;
     border-color: rgb(255, 255, 0);
     border-width: 5px;
    }
    .p4 {
    margin-right: 15%;
    margin-left: 25%;
    padding-left: 10%;
}